<!DOCTYPE html>
<html>

<head>
    <title class="main-title">GoogleSentiment</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <header>
        <h1 class="header-main">Welcome to GoogleSentiment</h1>
        <h3 class="header-sub">Determining Google News sentiment and summarizing topics</h3>
    </header>

    <form method="POST">
        <input type="text" name="user_input" placeholder="Search topic...">
        <input type="submit" value="Submit">
    </form>

    <p>{{ topic_text }}</p>

    <p>{{ top_n_text }}</p>

    <p>{{ high_text }}</p>
    <p>{{ low_text }}</p>

    <p>{{ summary_text }}</p>

</body>
</html>